.lives-enter, .bombs-enter, .revealed-enter
  transform translateY(100%)
  -webkit-transform translateY(100%)
  &.lives-enter-active, &.bombs-enter-active, &.revealed-enter-active
    transform translateY(0)
    -webkit-transform translateY(0)
    transition 1.5s
    -webkit-transition 1.5s

.lives-exit, .bombs-exit, .revealed-exit
  transform translateY(0)
  -webkit-transform translateY(0)
  position absolute
  left 0
  bottom 0
  &.lives-exit-active, &.bombs-exit-active, &.revealed-exit-active
    transform translateY(-100%)
    -webkit-transform translateY(-100%)
    transition 1.5s
    -webkit-transition 1.5s

.total-to-reveal
  transform translateY(100%)
  -webkit-transform translateY(100%)
  &.total-to-reveal-active
    transform translateY(0)
    -webkit-transform translateY(0)
    transition 15s
    -webkit-transition 15s

.total-to-reveal-exit
  transform translateY(0)
  -webkit-transform translateY(0)
  position absolute
  left 4px;
  &.total-to-reveal-exit-active
    transform translateY(-100%)
    -webkit-transform translateY(-100%)
    transition 15s
    -webkit-transition 15s

span.lives, span.bombs, span.revealed
  position relative
  overflow hidden
  float left
  span
    display inline-block

span.total-to-reveal
  position relative
  overflow hidden
  float right
  top -18px
  span
    display inline-block
