header
  background-color white
  height 55px
  display flex
  span
    display flex
    align-items center
    padding-left 42px
    span
      padding-left 0
      display flex
      font-size 32px
      margin 0
      top 3px
      position relative
      &.sw
        color white
      &.eeper
        color rgba(240, 0 ,0, .9)
    svg
      position absolute
      left 24px
      &.header-icon
        font-size 46  px
        color rgba(240, 0, 0, .85)
