.squares {
  display: flex;
}

.square
  border 2px solid rgb(180,180,180)
  border-radius 4px
  box-sizing border-box
  float left
  font-size 24px
  font-weight bold
  line-height 32px
  height 40px
  margin-right -1px
  margin-top -1px
  padding 2px
  text-align center
  width 40px
  transition all 0.3s ease-in-out
  &.default, &.flag-mode, &.questionmark-mode
    background radial-gradient(rgba(77,162,207, .8), rgb(42,109,199))
    box-shadow inset 0 -4px 6px rgba(0, 0, 0, 0.2)
  &.hint, &.flagged, &.questionmarked, &.flag-mode.flagged, &.flag-mode.questionmarked, &.questionmark-mode.questionmarked, &.questionmark-mode.flagged
    background radial-gradient(rgba(205,205,215, .1), rgba(180,180,190, .8))
    box-shadow inset 0 -2px 3px rgba(0, 0, 0, 0.1)
  &:disabled
    background radial-gradient(rgba(205,205,205, .1), rgba(200,200,200, .8))
    box-shadow inset 0 -2px 3px rgba(0, 0, 0, 0.1)
    color rgb(0,0,0)
  &:focus
    outline none
  &:not([disabled]):hover
    transition all 0.3s ease-in-out
    background-color rgb(200,200,200)
    transform translate(10%, 10%)
  &:not([disabled]).flag-mode:hover, &:not([disabled]).questionmark-mode:hover
    transition all 0.3s ease-in-out
    transform translate(10%, 10%)
    font-size 24px
  &:not([disabled]).flag-mode:hover span .flag-icon, &:not([disabled]).questionmark-mode:hover span .questionmark-icon
    display inline
  &.flag-mode.hint span:hover .bomb-count, &.questionmark-mode.hint span:hover .bomb-count, &.flagged.hint span .bomb-count, &.questionmarked.hint span .bomb-count, .flag-icon, .questionmark-icon
    display none
