.stats-title
  text-align center
  margin-bottom 8px
  padding-top 8px
  border-top 1px solid #dee2e6

.stats-wrapper
  padding-bottom 16px
  border-bottom 1px solid #dee2e6

/* Animations */

.lives-enter
  transform translateY(100%)
  -webkit-transform translateY(100%)
  &.lives-enter-active
    transform translateY(0)
    -webkit-transform translateY(0)
    transition 3s
    -webkit-transition 3s

.lives-exit
  transform translateY(0)
  -webkit-transform translateY(0)
  position absolute
  left 0
  bottom 0
  &.lives-exit-active
    transform translateY(-100%)
    -webkit-transform translateY(-100%)
    transition 3s
    -webkit-transition 3s

.bombs-enter, .revealed-enter, .flags-enter, .questions-enter
  transform translateY(100%)
  -webkit-transform translateY(100%)
  &.bombs-enter-active, &.revealed-enter-active, &.flags-enter-active, &.questions-enter-active
    transform translateY(0)
    -webkit-transform translateY(0)
    transition 1.5s
    -webkit-transition 1.5s

.bombs-exit, .revealed-exit, .flags-exit, .questions-exit
  transform translateY(0)
  -webkit-transform translateY(0)
  position absolute
  left 0
  bottom 0
  &.bombs-exit-active, &.revealed-exit-active, &.flags-exit-active, &.questions-exit-active
    transform translateY(-100%)
    -webkit-transform translateY(-100%)
    transition 1.5s
    -webkit-transition 1.5s

.total-to-reveal-enter
  transform translateY(100%)
  -webkit-transform translateY(100%)
  &.total-to-reveal-enter-active
    transform translateY(0)
    -webkit-transform translateY(0)
    transition 1.5s
    -webkit-transition 1.5s

.total-to-reveal-exit
  transform translateY(0)
  -webkit-transform translateY(0)
  position absolute
  left -10px
  &.total-to-reveal-exit-active
    transform translateY(-100%)
    -webkit-transform translateY(-100%)
    transition 1.5s
    -webkit-transition 1.5s

span.lives, span.bombs, span.revealed, span.flags, span.questions
  position relative
  overflow hidden
  float left
  span
    display inline-block

span.total-to-reveal
  position relative
  overflow hidden
  float right

  span
    display inline-block
