body
  margin 0

header
  background-color white
  height 50px
  display flex
  span
    display flex
    align-items center
    padding-left 20px
    span
      padding-left 0
      display flex
      font-size 32px
      margin 0
      position relative
      color rgba(240, 0 ,0, .9)
      &.sw
        margin-left -2px
      //   padding-right 2px
      &.ee
        padding-left 3px
        color white
      &.per
        margin-left 2px

    svg
      position absolute
      left 56px
      &.header-icon
        font-size 46  px
        color rgba(240, 0, 0, .65)



p
  margin 0

ul
  list-style none
  padding-left 0
