p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.square {
  border: 2px solid rgb(180,180,180);
  border-radius: 4px;
  box-sizing: border-box;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 2px;
  text-align: center;
  width: 40px;
  transition: all 0.3s ease-in-out;
}

.square.default, .square.flag-mode, .square.questionmark-mode {
  background: radial-gradient(rgba(77,162,207, .8), rgb(42,109,199));
  box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.2);
}

.square.hint,
  .square.flagged,
  .square.questionmarked,
  .square.flag-mode.flagged,
  .square.flag-mode.questionmarked,
  .square.questionmark-mode.questionmarked,
  .square.questionmark-mode.flagged {
    background: radial-gradient(rgba(205,205,215, .1), rgba(180,180,190, .8));
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.1);
}

.square:disabled {
  background: radial-gradient(rgba(205,205,205, .1), rgba(200,200,200, .8));
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.1);
}

.square:focus{
  outline: none;
}

.square:not([disabled]):hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(200,200,200);
  transform: translate(10%, 10%);
}

.square:not([disabled]).flag-mode:hover,
  .square:not([disabled]).questionmark-mode:hover {
    transition: all 0.3s ease-in-out;
    transform: translate(10%, 10%);
    font-size: 24px;
}

.square:not([disabled]).flag-mode:hover span .flag-icon,
  .square:not([disabled]).questionmark-mode:hover span .questionmark-icon {
    display: inline;
}

.square.flag-mode.hint span:hover .bomb-count,
  .square.questionmark-mode.hint span:hover .bomb-count,
  .square.flagged.hint span .bomb-count,
  .square.questionmarked.hint span .bomb-count,
  .flag-icon, .questionmark-icon {
    display: none;
}

.flag-button, .flag-button-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8%;
  font-size: 16px;
}

.fa-flag {
  font-size: 26px;
  color: rgba(20,30,40, .5);
}

.game-board {
  display: flex;
  flex-direction: column;
}

.game-row {
  display: table-row;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.neighbors-1 {
  color: rgb(34,66,252);
}

.neighbors-2 {
  color: rgb(65,120,29);
}

.neighbors-3 {
  color: rgb(216,68,33);
}

.neighbors-4 {
  color: rgb(10,26,133);
}

.neighbors-5 {
  color: rgb(101,17,9);
}

.neighbors-6 {
  color: rgb(65,120,29);
}

.neighbors-7 {
  color: rgb(65,120,29);
}

.neighbors-8 {
  color: rgb(162,162,162);
}
