.square {
  background-color: rgb(235,235,235);
  border: 2px solid rgb(180,180,180);
  box-sizing: border-box;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 2px;
  text-align: center;
  width: 40px;
  transition: all 0.3s ease-in-out;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.square:not([disabled]):hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(200,200,200);
  transform: translate(10%, 10%);
}

.square:not([disabled]).flag:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(220,190,220);
  transform: translate(10%, 10%);
}

.square:not([disabled]).flag span:hover p {
  display: none;
}

.square:not([disabled]).flag span:hover .flag-icon {
  display: inline;
}

.flag-icon {
  display: none;
}

.flag-button, .flag-button-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8%;
  font-size: 16px;
}

.square:disabled {
  background-color: rgb(245,245,245)
}

.square:focus{
  outline: none;
}

.fa-flag {
  font-size: 26px;
  color: rgba(20,30,40, .5);
}

.game-board {
  display: flex;
  flex-direction: column;
}

.game-row {
  display: table-row;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.neighbors-1 {
  color: rgb(34,66,252);
}

.neighbors-1 {
  color: rgb(34,66,252);
}

.neighbors-2 {
  color: rgb(65,120,29);
}

.neighbors-3 {
  color: rgb(216,68,33);
}

.neighbors-4 {
  color: rgb(10,26,133);
}

.neighbors-5 {
  color: rgb(101,17,9);
}

.neighbors-6 {
  color: rgb(65,120,29);
}

.neighbors-7 {
  color: rgb(65,120,29);
}

.neighbors-8 {
  color: rgb(162,162,162);
}
